mixin link(title, href, text)
  - if (typeof(text) === 'undefined') text = title
  - if (typeof(href) === 'undefined') href = '#'
  a(href=href, title=title)&attributes(attributes)
    if block
      block
    else
      !=text
mixin link-img(name, cl, alt)
  img(src="images/"+name, class=cl, alt=alt)
mixin ul-group(cl)
  ul
    - for (var item = 0; item < sliderImg.length; item++)
      li
        a(href="#", title= titles[item]) 
          +link-img(sliderImg[item], cl, alts[item])
      
        .text-slide
          p= contents[item]
mixin ul-group2(cl)
  ul
    - for(var item = 0; item < sliderImg.length; item++)
      li: a(href="#", title= titles[item]) 
            +link-img(sliderImg[item], cl, alts[item])
